* {
    margin: 0;
    padding: 0;
}

.content-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: rgba(234, 184, 161, 1);
}

#input-container button {
    width: 80%;
    height: 30px;
    background-color: rgba(161, 234, 190, 1);
    border: none;
    border-radius: 5px;
}

#input-form {
    width: 80%;
    display: table;
    border-spacing: 10px;
}

#input-form p {
    display: table-row;
}

#input-form label {
    display: table-cell;
}

#input-form input {
    display: table-cell;
}

#input-container input[type='text'],
#input-container label {
    width: 50%;
}

#input-container input[type='text'] {
    width: 100%;
}

#radio-group {
    display: flex;
    gap: 20px;
}

#display-container {
    width: 80%;
    padding: 20px;
}

#display-table {
    display: table;
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

#display-table th {
    display: table-cell;
    width: calc(100% / 6);
    height: 50px;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

/* dynamic elements */
#display-table td {
    text-align: center;
    vertical-align: middle;
    height: 50px;
    border-top: 1px solid black;
}

#display-container th + th,
#display-container td + td {
    border-left: 1px solid black;
}

#display-container button {
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
}

#table-body td:nth-child(5) button {
    background-color: rgba(161, 234, 190, 1);
}

#table-body td:nth-child(6) button {
    background-color: rgba(232, 90, 90, 1);  
}