* {
    margin: 0;
    padding: 0;
}

.content-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#input-container {
    width: 20%;
    border: 1px solid black;
}

#display-container {
    width: auto;
    border: 1px solid black;
}